@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,300&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../img/bg.jpg);
    background-size: 100%;
}

.header, .main, .footer {
    display: flex;
    justify-content: center; 
    background-color: rgba(0, 0, 0, 0.5);
}

.header, footer {
    font-size: 18px;
}


.main {
    color: white;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    width: 80%;
}

.header .container .wrapper,
.footer .container .wrapper  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav__items,
.footer__nav__items {
    display: flex;
    list-style: none;
    width: 600px;
    justify-content: space-between;
}

.header__nav__items a,
.footer__nav__items a,
.header__cart-link {
    text-decoration: none;
    color: white;
}

.main__wrapper {
    color: white;
}

.header__nav,
.footer__nav {
    display: flex;
    align-items: center;
}

.header__cart-img {
    width: 24px;
}

.header__cart-link {
    display: flex;
    align-items: center;
    width: 60px;
    justify-content: space-between;
}

.catalog {
    display: flex;
    justify-content: center;
}

.catalog__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.catalog__item {
    width: 250px;
    height: 450px;
    background-color: white;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}
.catalog__item a{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.catalog__item:hover {
    transform: scale(1.05);
  }
  

.catalog__item__image img{
    width: 250px;
    height: 300px;
    margin-bottom: 10px;
}

.catalog__item__option {
    display: flex; 
    color: black;
    width: 200px;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.product__wraper {
    display: flex;
    justify-content: space-around;
}

.product__wrap-title {
    width: 40%;
}

.product__wrap-title h2 {
    margin-bottom: 20px;
}

.product__wrap-title img {
    width: 400px;
}

.cart__img {
    height: 140px;
}

.product__description-wrap {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.catalog__item__button-add, .cart__btn-delete {
    background-color: rgb(52, 58, 79);
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.product__add-wrap {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.cart__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
}

.cart__item-wrap {
    display: flex;
    align-items: center;
    height: 200px;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.659);
    border: 1px solid white;
    width: 1000px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.nav__logo {
    width: 100px;
    height: 80px;
}

.cart__item-wrap p {
    width: 300px;
}

.cart__img {
    border-radius: 10px;
}

.home__wrap {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.659);
    padding: 50px;
}

.home__title {
    text-transform: uppercase;
    font-size: 140px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: light;
    font-style: italic;
}

.home__text {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}
.about__partners-img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.about__wrap, .contacts__wrap {
    width: 1100px;
    background-color: rgba(0, 0, 0, 0.659);
    padding: 50px;

}

.about__partners-wrap {
    margin-top: 70px;
}

.about__partners-links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}

.contacts__info-wrap {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: space-between;
}
.about__partners-title, .about__wrap h1, .about__wrap p, .contacts__wrap h1,.contacts__info-wrap p,  .contacts__info-wrap h3{
    font-family: 'Roboto Condensed', sans-serif;
}

.contacts-app {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}